<div class="content">
    <div class="frontface text-center">
        <h4>Hi, I am</h4>
        <h2><b>Susant Shrestha</b></h2>
        <h4 class="tagline">
            I am a <span id="changing-text" data-typist="Web Developer.,Web Designer.">Web Lover.</span>
        </h4>
    </div>
</div>

