<header >
    <div class="header">
        <img class="img-responsive" src="/Content/Images/me.png" alt="lx" />
        <h2 class="site-title text-center">Lx</h2>
        <nav class="site-navigarion">
            <div class="nav-menu">
                <ul class="menu-auto nav nav-stacked text-center">
                   
                    <li>
                        <a href="#">
                            <i class="glyphicon glyphicon-home"></i><br />
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="glyphicon glyphicon-picture"></i><br />
                            About me
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="glyphicon glyphicon-book"></i><br />
                            Resume
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="glyphicon glyphicon-bookmark"></i><br />
                            Contact
                        </a>
                    </li>

                </ul>
            </div>
        </nav>
        <div class="header-bottom text-center">
            <div class="text-widget">
                
            </div>
            <div class="copyright">
                <p>2017 copyright</p>
            </div>
        </div>
    </div>
</header>
